<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>xd - Visiting Card</title>
</head>
<body>
    <!-- content -->
    <section class="anchor tile intro">
        <div class="intile">
            hej
        </div>
    </section>
    <section class="anchor tile about">
        <div class="intile">
            hej
        </div>
    </section>
    <footer class="anchor tile footer">
        <div class="intile">
                hej
        </div>
    </footer>
    <!-- sidebar -->
    <aside class="sidebar">
            <div class="sidebar__wrapper">
                <div class="sidebar__container">
                    <div class="sidebar__list">
                        <div class="sidebar__item">
                            Hello
                        </div>
                    </div>
                    <div class="sidebar__pointer">
                        2
                    </div>
                </div>
            </div>
        </aside>
    <!-- video bckg -->
    <section class="vdbckg">
            <video autoplay width="1920" height="1080">
                <source src="./assets/videos/gm.mp4" type="video/mp4">
            </video>
    </section>
</body>
</html>
