<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Rak Bartosz - Visiting Card</title>
    <link rel="icon" href="./assets/images/favicon1mincom.png" type="image/x-icon"/>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- welcome -->
        <section class="anchor tile welcome" sb-title="Welcome">
            <div class="intile">
                <h2>Introduction</h2>
                <p><span class="crimetext">Let</span> me introduce you! This site is strictly about me, whole content is related to my person. If you want know more about who am I and what I do then you are in right place and right time!</p>
                <h2>Continuation</h2>
                <p><span class="crimetext">Im</span> sure you will be able to find out all needed informations. Enjoy my holy area and stay tuned.</p>
                <h1 class="tile__title">Welcome</h1>
            </div>
        </section>
        <!-- about me-->
        <section class="anchor tile aboutme" sb-title="About me">
            <div class="intile">
                <h2>Who am I?</h2>
                <p><span class="crimetext">I am</span> pure IT hobbyst, who is mostly interested in front-end web development. I am focused on this one thing as well but I have more hobbies. I love programming (javascript, but I try more languages) - which is also related to front-end - even while It gets my angry, I just love it. Often I have got interesteing ideas and projects which are my challenges. I do not feel fear of new issues.</p>
                <p>I deal with computers graphics, which actually is also one of my hobbies. That calm me down and gives me time to make my mind free of more advanced activities. </p>
                <h2>What I do?</h2>
                <h3>Projects</h3>
                <p><span class="crimetext">To</span> be honest 99 percent of my projects and/or arts are just made for myself. I meet and learn new technologies, so I get new ideas and make new projects growing up in skills and knowledge in the same time.</p>
                <p><span class="crimetext">I</span> create websites of every type, many more or less useful scripts that are related to those websites, amateur game projects built in web technologies, additionaly some back-end and graphic projects.</p>
                <h3>Knowledge</h3>
                <p><span class="crimetext">Objectively</span> I do really a lot of things. I make multiple projects, I have many ideas and challenges for myself. Although I am enough focused to get new knowledge. Every project that I make is next step for me.</p>

                <h1 class="tile__title">About me</h1>
            </div>
        </section>
        <!-- education -->
        <section class="anchor tile education" sb-title="Education">
                <div class="intile">
                    <article class="school school--active">
                        <div class="school__aside">
                            <h5 class="school__date">
                                <span class="crimetext">07/2018 yr. - now</span>
                            </h5>
                            <img class="school__image" src="./assets/images/slog2mincom.png" alt="Logotype of Warsaw School of Computer Science"/>
                        </div>
                        <h2>Warsaw</h2>
                        <h3>Warsaw School of Computer Science</h3>
                        <h4>University - Software Engineering</h4>
                        <div class="school__dot"></div>
                    </article>
                    <article class="school">
                        <div class="school__aside">
                            <h5 class="school__date">
                                <span class="crimetext">09/2014 yr. - 01/2018 yr.</span>
                            </h5>
                            <img class="school__image" src="./assets/images/slog1mincom.png" alt="Maria Skłodowska-Curie Upper Secondary School Complex No. 3 in Wiskitki building photograpy"/>
                        </div>
                        <h2>Wiskitki</h2>
                        <h3>Maria Skłodowska-Curie Upper Secondary School Complex No. 3 in Wiskitki</h3>
                        <h4>Technical School - Information Technology</h4>
                        <div class="school__dot"></div>
                    </article>
                    <h1 class="tile__title">Education</h1>
                </div>
        </section>
        <!-- certificates -->
        <section class="anchor tile certificates" sb-title="Certificates">
            <div class="intile">
                <article class="cert cert--left cert--active" id="abc">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red grownumber" sb-grow="83">---</span></h5>
                        <h5>practical <span class="crimetext--red grownumber" sb-grow="100">---</span></h5>
                    </div>
                    <h2><span class="crimetext">E.14</span></h2>
                    <h3>Creating internet applications and databases, and administrating databases.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot cert__dot--active"></div>
                </article>
                <article class="cert cert--right">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red grownumber" sb-grow="68">---</span></h5>
                        <h5>practical <span class="crimetext--red grownumber" sb-grow="91">---</span></h5>
                    </div>
                    <h2><span class="crimetext">E.13</span></h2>
                    <h3>Designing local computer networks and administrating networks.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot cert__dot--active"></div>
                </article>
                <article class="cert cert--left">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red grownumber" sb-grow="68">---</span></h5>
                        <h5>practical <span class="crimetext--red grownumber" sb-grow="90">---</span></h5>
                    </div>
                    <h2><span class="crimetext">E.12</span></h2>
                    <h3>Assembly and operation of personal computers and peripheral devices.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot"></div>
                </article>
                <h1 class="tile__title">Certificates</h1>
            </div>
        </section>
        <!-- skills -->
        <section class="anchor tile skills" sb-title="Skills">
            <div class="intile">
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Familiar</span></h2>
                    </div>
                    <div class="group__skills">
                        <!-- familiar -->
                    </div>
                </article>
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Basics</span></h2>
                    </div>
                    <div class="group__skills">
                        <!--  basics -->
                    </div>
                </article>
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Had contact</span></h2>
                    </div>
                    <div class="group__skills">
                        <!-- had contact -->
                    </div>
                </article>
                <h1 class="tile__title">Skills</h1>
            </div>
        </section>
        <!-- media -->
        <section class="anchor tile media" sb-title="Media">
            <div class="intile">
                <div class="media__medium">
                    <div class="media__dot--left"></div>
                    <h2>Programming</h2>
                    <a href="https://github.com/TheMrMares" target="_blank" class="media__link">GitHub</a>
                </div>
                <div class="media__medium">
                    <div class="media__dot--left"></div>
                    <h2>Art</h2>
                    <a href="https://www.deviantart.com/themrmares" target="_blank" class="media__link">DeviantArt</a>
                </div>
                <div class="media__medium">
                    <div class="media__dot--left"></div>
                    <h2>Workers ommunity</h2>
                    <a href="https://www.linkedin.com/in/bartosz-rak-a65724167/" target="_blank"class="media__link">LinkedIn</a>
                </div>
                <h1 class="tile__title">Media</h1>
            </div>
        </section>
        <!-- at the end -->
        <section class="anchor tile footer" sb-title="At the end">
            <div class="intile">
                <h2>Stay tuned</h2>
                <p>Observe my progress, my study process. If you are interested to start collaboration or you want give me job or even ask what can I offer, just get in contact!</p>
                <h2>Contact</h2>
                <p>E-mail: <span class="crimetext">rak.bartosz98@gmail.com</span></p>
                <h1 class="tile__title">At the end</h1>
            </div>
        </section>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar__markerHolder">
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
            </div>
            <div class="sidebar__wrapper">
                <div class="sidebar__container">

                </div>
            </div>
        </aside>
    </div>
    <!-- cyber -->
    <div class="cyber"></div>
    <!-- canvas -->
    <canvas class="canvas"></canvas>
    <!-- sound -->
    <audio class="audioBackground" loop>
        <source src="./assets/sounds/hiphop1.mp3" type="audio/mpeg">
    </audio>
    <!-- snake info -->
    <div class="snake">
        <p class="snake__in">Bored? Type "game"</p>
        <p class="snake__out">Enough? Type "stop"</p>
    </div>
    <!--loader -->
    <section class="loader">
            <div class="loader__holder">
                <div class="loader__spin">

                </div>
                <h1 class="loader__greetings">Click to start</h1>
            </div>
    </section>
</body>
</html>
