<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>xd - Visiting Card</title>
</head>
<body>
    <!--loader -->
    <section class="loader">
        <div class="loader__wrapper">
            <div class="loader__holder">
                <div class="loader__spin">

                </div>
                <h1 class="loader__greetings">Finally</h1>
            </div>
            <div class="loader__dot">

            </div>
        </div>
    </section>
    <!-- container -->
    <div class="container">
        <!-- content -->
        <section class="anchor tile intro" sb-title="Welcome">
            <div class="intile">
                <h1>Welcome</h1>
                <p><span class="bigLetter">L</span>orem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
            </div>
        </section>
        <section class="anchor tile about" sb-title="About me">
            <div class="intile">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
            </div>
        </section>
        <section class="anchor tile intro" sb-title="My capabilities">
                <div class="intile">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
                </div>
        </section>
        <footer class="anchor tile footer" sb-title="At the end">
            <div class="intile">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
            </div>
        </footer>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar__markerHolder">
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
            </div>
            <div class="sidebar__wrapper">
                <div class="sidebar__container">

                </div>
            </div>
        </aside>
        <!-- canvas -->
        <canvas class="canvas" width="1860" height="1080">

        </canvas>
        <!-- sound -->
        <audio autoplay loop>
            <source src="./assets/sounds/suspense1.mp3" type="audio/mpeg">
        </audio>
    </div>
<script src="assets/libraries/anime.min.js"></script>
<script src="assets/libraries/jquery.min.js"></script>
<script src="assets/libraries/jquery-ui.min.js"></script>
</body>
</html>
