<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>xd - Visiting Card</title>
</head>
<body>
    <div class="container">
        <!-- content -->
    <section class="anchor tile intro" sb-title="Welcome">
            <div class="intile">
                hej
            </div>
        </section>
        <section class="anchor tile about" sb-title="About me">
            <div class="intile">
                hej
            </div>
        </section>
        <footer class="anchor tile footer" sb-title="At the end">
            <div class="intile">
                    hej
            </div>
        </footer>
        <!-- sidebar -->
        <aside class="sidebar">
                <div class="sidebar__wrapper">
                    <div class="sidebar__container">
                        <div class="sidebar__list">
                            <!-- items here -->
                        </div>
                        <div class="sidebar__pointer">
                            
                        </div>
                    </div>
                </div>
            </aside>
        <!-- video bckg -->
        <section class="vdbckg">
                <video autoplay width="1920" height="1080" loop>
                    <source src="./assets/videos/nfs2.mp4" type="video/mp4">
                </video>
        </section>
    </div>
<script src="assets/libraries/anime.min.js"></script>
</body>
</html>
