<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>xd - Visiting Card</title>
</head>
<body>
    <!--loader -->
    <section class="loader">
        <div class="loader__wrapper">
            <div class="loader__holder">
                <div class="loader__spin">

                </div>
                <h1 class="loader__greetings">Finally</h1>
            </div>
            <div class="loader__dot">

            </div>
        </div>
    </section>
    <!-- container -->
    <div class="container">
        <!-- content -->
        <section class="anchor tile intro" sb-title="Welcome">
            <div class="intile">
                <h2>Introduction</h2>
                <p><span class="crimetext">Let</span> me introduce you! This site is strictly about me, whole content is related to my person. If you want know more about who am I and what I do just continue reading..</p>
                <h2>What is next?</h2>
                <p><span class="crimetext">Im</span> sure you will be able to find out all needed informations! Do not be shy! Just enjoy rest of this awesome place.</p>
                <h1>Welcome</h1>
            </div>
        </section>
        <section class="anchor tile about" sb-title="About me">
            <div class="intile">
                <h2>Who am I?</h2>
                <p><spin class="crimetext">I am</spin> IT hobbyst, who is mostly interested in front-end web development. I am focused on this one thing as well but I have more hobbies. I love programming, even while It gets my angry, I just love it. Often I have got interesteing ideas and projects which are my challenges. I do not feel fear of new problems. Sometimes I also deal with computers graphic, therefore I have ocassions to make signatures, avatars and other projects.</p>
                <h1>About me</h1>
            </div>
        </section>
        <section class="anchor tile intro" sb-title="My capabilities">
                <div class="intile">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
                </div>
        </section>
        <section class="anchor tile footer" sb-title="At the end">
            <div class="intile">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
            </div>
        </section>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar__markerHolder">
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
            </div>
            <div class="sidebar__wrapper">
                <div class="sidebar__container">

                </div>
            </div>
        </aside>
        <!-- canvas -->
        <canvas class="canvas" width="1860" height="1080">

        </canvas>
        <!-- sound -->
        <audio class="audioBackground" autoplay loop>
            <source src="./assets/sounds/hiphop1.mp3" type="audio/mpeg">
        </audio>
    </div>
</body>
</html>
