<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>xd - Visiting Card</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- content -->
        <section class="anchor tile welcome" sb-title="Welcome">
            <div class="intile">
                <h2>Introduction</h2>
                <p><span class="crimetext">Let</span> me introduce you! This site is strictly about me, whole content is related to my person. If you want know more about who am I and what I do then you are in right place and right time!</p>
                <h2>Continuation</h2>
                <p><span class="crimetext">Im</span> sure you will be able to find out all needed informations. Enjoy my holy area and stay tuned.</p>
                <h1 class="tile__title">Welcome</h1>
            </div>
        </section>
        <section class="anchor tile aboutme" sb-title="About me">
            <div class="intile">
                <h2>Who am I?</h2>
                <p><span class="crimetext">I am</span> pure IT hobbyst, who is mostly interested in front-end web development. I am focused on this one thing as well but I have more hobbies. I love programming (javascript, but I try more languages) - which is also related to front-end - even while It gets my angry, I just love it. Often I have got interesteing ideas and projects which are my challenges. I do not feel fear of new issues.</p>
                <p>I deal with computers graphics, which actually is also one of my hobbies. That calm me down and gives me time to make my mind free of more advanced activities. </p>
                <h2>What I do?</h2>
                <h3>Projects</h3>
                <p><span class="crimetext">To</span> be honest 99 percent of my projects and/or arts are just made for myself. I meet and learn new technologies, so I get new ideas and make new projects growing up in skills and knowledge in the same time.</p>
                <p><span class="crimetext">I</span> create websites of every type, many more or less useful scripts that are related to those websites, amateur game projects built in web technologies, additionaly some back-end and graphic projects.</p>
                <h3>Knowledge</h3>
                <p><span class="crimetext">Objectively</span> I do really a lot of things. I make multiple projects, I have many ideas and challenges for myself. Although I am enough focused to get new knowledge. Every project that I make is next step for me.</p>

                <h1 class="tile__title">About me</h1>
            </div>
        </section>
        <section class="anchor tile education" sb-title="Education">
                <div class="intile">
                    <article class="school school--active">
                        <div class="school__aside">
                            <h5 class="school__date">
                                <span class="crimetext">07/2018 yr. - now</span>
                            </h5>
                            <img class="school__image" src="./assets/images/slog2.png" />
                        </div>
                        <h2>Warsaw</h2>
                        <h3>Warsaw School of Computer Science</h3>
                        <h4>University - Software Engineering</h4>
                        <div class="school__dot"></div>
                    </article>
                    <article class="school">
                        <div class="school__aside">
                            <h5 class="school__date">
                                <span class="crimetext">09/2014 yr. - 01/2018 yr.</span>
                            </h5>
                            <img class="school__image" src="./assets/images/slog1.png" />
                        </div>
                        <h2>Wiskitki</h2>
                        <h3>Maria Skłodowska-Curie Upper Secondary School Complex No. 3 in 							Wiskitki</h3>
                        <h4>Technical School - Information Technology</h4>
                        <div class="school__dot"></div>
                    </article>
                    <h1 class="tile__title">Education</h1>
                </div>
        </section>
        <section class="anchor tile certificates" sb-title="Certificates">
            <div class="intile">
                <article class="cert cert--left cert--active" id="abc">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red">83%</span></h5>
                        <h5>practical <span class="crimetext--red">100%</span></h5>
                    </div>
                    <h2><span class="crimetext">E.14</span></h2>
                    <h3>Creating internet applications and databases, and administrating databases.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot cert__dot--active"></div>
                </article>
                <article class="cert cert--right">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red">68%</span></h5>
                        <h5>practical <span class="crimetext--red">91%</span></h5>
                    </div>
                    <h2><span class="crimetext">E.13</span></h2>
                    <h3>Designing local computer networks and administrating networks.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot cert__dot--active"></div>
                </article>
                <article class="cert cert--left">
                    <div class="cert__score">
                        <h5>theoretical <span class="crimetext--red">68%</span></h5>
                        <h5>practical <span class="crimetext--red">90%</span></h5>
                    </div>
                    <h2><span class="crimetext">E.12</span></h2>
                    <h3>Assembly and operation of personal computers and peripheral devices.</h3>
                    <h4>Regional Examination Commission in Warsaw</h4>
                    <div class="cert__dot"></div>
                </article>
                <h1 class="tile__title">Certificates</h1>
            </div>
        </section>
        <section class="anchor tile skills" sb-title="Skills">
            <div class="intile">
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Familiar</span></h2>
                    </div>
                    <div class="group__skills">
                        <!-- skills
                        <div class="group__ability" sb-power="8">
                            <h3>Javascript / ES6</h3>
                            <div class="group__marker">
                                <div class="group__dot--left"></div>
                                <div class="group__dot--right group__dot--active"></div>
                            </div>
                        </div>-->
                    </div>
                </article>
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Basics</span></h2>
                    </div>
                    <div class="group__skills">
                        <!-- skills -->
                    </div>
                </article>
                <article class="group">
                    <div class="group__header">
                        <h2 class="group__title"><span class="crimetext">Had contact</span></h2>
                    </div>
                    <div class="group__skills">
                        <!-- skills -->
                    </div>
                </article>
                <h1 class="tile__title">Skills</h1>
            </div>
        </section>
        <section class="anchor tile footer" sb-title="At the end">
            <div class="intile">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, molestias libero impedit dignissimos vel voluptatum suscipit tempora ullam magnam incidunt ducimus eos, qui asperiores? Odit debitis nam quod. Ipsa laboriosam expedita quos in rerum libero maiores itaque repudiandae corrupti illo.</p>
                <h1 class="tile__title">At the end</h1>
            </div>
        </section>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar__markerHolder">
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
                <div class="sidebar__marker">
                    <div class="sidebar__fluid"></div>
                </div>
            </div>
            <div class="sidebar__wrapper">
                <div class="sidebar__container">

                </div>
            </div>
        </aside>
        <!--loader -->
        <section class="loader">
            <div class="loader__wrapper">
                <div class="loader__holder">
                    <div class="loader__spin">

                    </div>
                    <h1 class="loader__greetings">Finally</h1>
                </div>
                <div class="loader__dot">

                </div>
            </div>
        </section>
        
        <!-- cyber -->
        <div class="cyber"></div>
        <!-- canvas -->
        <canvas class="canvas" width="1920" height="1080"></canvas>
        <!-- sound -->
        <audio class="audioBackground" autoplay loop>
            <source src="./assets/sounds/hiphop1.mp3" type="audio/mpeg">
        </audio>
    </div>
</body>
</html>
