<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Bartosz Rak - Visiting Card</title>
    <script src="assets/libraries/anime.min.js"></script>
</head>
<body>
    <!-- sidebar -->
    <dic class="sidebar">
        <div class="sidebar__wrapper">
            <div class="sidebar__container">
                <div class="sidebar__list">
                    <div class="sidebar__item">
                        Hello
                    </div>
                </div>
                <div class="sidebar__pointer">
                    2
                </div>
            </div>
        </div>
    </dic>
    <!-- content -->
    <div class="tile intro">
        <div class="intile">
            hej
        </div>
    </div>
    <div class="tile about">
        <div class="intile">
            hej
        </div>
    </div>
</body>
</html>
