@import 'templates.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    color: $fair;
    font-family: 'Oswald', sans-serif;
    min-width: 1600px;
    width: 100%;
	height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background: none;
}
.container{
    min-width: 1600px;
	width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    right: 0;
    * {
        box-sizing: border-box;
    }
    p,h1,h2,h3,h4,h5,h6,img, .group__marker, a {
        opacity: 0.1;
    }
    p {
        margin: 8px 0px;
        letter-spacing: 2px;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    h1 {font-size: 4em; margin:15px 0px;}
    h2 {font-size: 1.2em;}
    h3 {font-size: 1.1em;}
}
button {
    background: none;
    border: none;
    outline: none;
    font-family: 'Oswald', sans-serif;
}
img {
    position: relative;
    max-width: 100%;
}
//overall
.crimetext, .crimetext--red {
    font-size: 1.3em;
    color: $dark;
    padding: 0px 5px;
    margin-right: 2px;
}
.crimetext {
    background: $fair;
}
.crimetext--red {
    background: $special;
}
.tile {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
}
.tile__title {
    color: $special;
    text-shadow: 0px 0px 3px $special;
}
.intile {
    width: 40%;
}
.school {
    margin-top: 18px;
    border-left: 1px solid $fair;
    position: relative;
    padding: 10px 20px 30px 20px;
    .school__aside {
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        text-align: right;
        overflow: hidden;
    }
    .school__date {
        margin: 0px 20px 15px 0px;
        opacity: 0;
    }
    .school__image {
        margin: 0px 20px 0px 0px;
        border: 5px solid $fair;
        max-width: 30%;
    }
    .school__dot {
        background: $dark;
        z-index: 500;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -20px;
        left: -10px;
        border-radius: 100%;
        border: 2px solid $fair;
        &:hover {
            background: $fair;
        }
    }
    border-top: 2px dashed rgba(0,0,0,0);
    border-bottom: 2px dashed rgba(0,0,0,0);
    border-right: 2px dashed rgba(0,0,0,0);
    transition: 0.25s ease;
    &:hover{
    }
}
.school--active {
    background: rgba($fair, 0.01);
    .school__dot {
        animation: flashspecial linear 1s infinite;
        border: 2px solid $special;
        background: $special;
        box-shadow: 0px 0px 10px 0px $special;
        &:hover{
            box-shadow: 0px 0px 10px 0px $fair;
            border: 2px solid $fair;
        }
    }
}
.cert {
    position: relative;
    padding: 10px 20px 30px 20px;
    border-top: 1px solid $fair;
    .cert__score {
        padding: 10px;
        z-index: 500;
        position: absolute;
        top: 0;
        color: $special;
    }
    .cert__dot {
        z-index: 500;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $dark;
        border: 2px solid $fair;
        top: -10px;
        &:hover {
            background: $fair;
        }
    }
    
}
.cert--left {
    border-left: 1px solid $fair;
    text-align: left;
    .cert__score {
        right: 100%;
    }
    .cert__dot {
        left: -10px;
    }
}
.cert--right {
    text-align: right;
    border-right: 1px solid $fair;
    .cert__score {
        left: 100%;
    }
    .cert__dot {
        right: -10px;
    }
}
.cert--active {
    border-top: none;
    .cert__dot {
        animation: flashspecial linear 1s infinite;
        border: 2px solid $special;
        background: $special;
        box-shadow: 0px 0px 10px 0px $special;
        &:hover{
            box-shadow: 0px 0px 10px 0px $fair;
            border: 2px solid $fair;
        }
    }
}
.group {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    .group__header {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
    }
    .group__title {
        margin: 0;
        transform: rotate(-90deg);
        white-space: nowrap;
    }
    .group__skills {
        width: 90%;
        padding-left: 30px;
        .group__ability:last-of-type {
            margin-bottom: 30px;
        }
    }
    .group__ability {
        width: 100%;
    }
    .group__marker {
        width: 0%;
        height: 2px;
        border-top: 1px solid $fair;
        position: relative;
    }
    .group__counter {
        text-align: center;
        z-index: 500;
        position: absolute;
        color: $special;
        right: -50px;
        top: -15px;
        font-size: 1.3em;
        text-shadow: 0px 0px 5px $special;
    }
    .group__dot, .group__dot--left, .group__dot--right, {
        z-index: 500;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $dark;
        border: 2px solid $fair;
        top: -10px;
        &:hover {
            background: $fair;
        }
    }
    .group__dot--left {
        left: -20px;
    }
    .group__dot--right {
        right: -20px;
    }
    .group__dot--active {
        animation: flashspecial linear 1s infinite;
        border: 2px solid $special;
        background: $special;
        box-shadow: 0px 0px 10px 0px $special;
        &:hover{
            box-shadow: 0px 0px 10px 0px $fair;
            border: 2px solid $fair;
        }
    }
}
.media {
    .media__medium {
        margin-top: 30px;
        margin-bottom: 30px;
        border-top: 1px solid $fair;
        position: relative;
    }
    .media__dot, .media__dot--left, .media__dot--right {
        z-index: 500;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        top: -10px;
        animation: flashspecial linear 1s infinite;
        border: 2px solid $special;
        background: $special;
        box-shadow: 0px 0px 10px 0px $special;
        &:hover{
            box-shadow: 0px 0px 10px 0px $fair;
            border: 2px solid $fair;
            background: $fair;
        }
    }
    .media__dot--left {
        left: -20px;
    }
    .media__dot--right {
        right: -20px;
    }
    .media__medium:nth-of-type(1) {
        margin-left: 0%;
    }
    .media__medium:nth-of-type(2) {
        margin-left: 30%;
    }
    .media__medium:nth-of-type(3) {
        margin-left: 60%;
    }
    .media__link {
        color: $fair;
        border: 3px solid $fair;
        padding: 5px 40px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        margin: 0;
        &:hover{
            color: $dark;
            &::before{
                width: 100%;
                animation: 0.25s ease sweep;
            }
        }
        &:before{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 0%;
            height: 100%;
            background: $fair;
            z-index: -1;
        }
    }
}
//canvas
.canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}
//cyber
.cyber {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -3;
    $line-width: 3px;
    top: 0;
    left: 0;
    background-image:
        repeating-linear-gradient(
          transparent 0,
          rgba(0,0,0,0.3) $line-width/2,
          transparent $line-width
        );
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    opacity: 0.8;
}
//parallax
.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
//loader {
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $dark;
    z-index: 100000;
    border-bottom: 5px solid $smoothdark;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader__spin {
    width: 5vw;
    height: 5vw;
    opacity: 0;
    box-shadow: 0px 0px 15px 0px $special;
    background: $special;
}
.loader__greetings {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    font-size: 1.5em !important;
}
//sidebar
.sidebar {
    position: fixed;
    right: 0px;
    top: 0;
    height: 100vh;
    width: 20%;
}
.sidebar__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}
.sidebar__container {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 38px;
    width: 100%;
    white-space: nowrap;
}
.sidebar__markerHolder {
    position: absolute;
    height: 100%;
    top:0;
    right:0;
}
.sidebar__marker {
    margin: 0px 2px;
    position: relative;
    width: 2px;
    height: 100%;
    float: right;
    float: right;
}
.sidebar__fluid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0%;
    background: rgba($fair,1);
}
.sidebar__cupholder {
    display: grid;
    margin: 10px 0px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
}
.sidebar__item {
    text-align: right;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end:1;
    transition: 0.25s ease;
    margin: 0px 10px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 1.3em;
    color: $fair;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0,0,0,0);
    position: relative;
    &:hover{
        color: $dark;
        &::before{
            width: 100%;
            animation: 0.25s ease sweep;
        }
    }
    &:before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background: $fair;
        z-index: -1;
    }
}
.sidebar__point {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end:1;
}
.sidebar__inpoint {
    height: 20%;
    width: 0%;
    background: rgba($fair, 0.05);
    display: block;
    float: left;
    border-top: 2px solid rgba($fair, 0.08);
}
//animations
@keyframes flashspecial {
	0% { opacity: 1;  box-shadow: 0px 0px 20px 0px $special;} 
	50% { opacity: 0.8; box-shadow: 0px 0px 0px 0px $special;} 
	100% { opacity: 1; box-shadow: 0px 0px 20px 0px $special;}
}
@keyframes flashfair {
	0% { opacity: 1;  box-shadow: 0px 0px 20px 0px $fair;} 
	50% { opacity: 0.8; box-shadow: 0px 0px 0px 0px $fair;} 
	100% { opacity: 1; box-shadow: 0px 0px 20px 0px $fair;}
}
@keyframes flashfairtext {
	0% { opacity: 1;  text-shadow: 0px 0px 10px $fair;} 
	50% { opacity: 0.8; text-shadow: 0px 0px 0px $fair;} 
	100% { opacity: 1; text-shadow: 0px 0px 10px $fair;}
}
@keyframes sweep {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}