@import 'templates.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    color: $fair;
    font-family: 'Oswald', sans-serif;
    width: 100%;
	height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
	width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    right: 0;
    * {
        box-sizing: border-box;
    }
}

img {
    position: relative;
    max-width: 100%;
}

//overall
.tile {
    width: 100vw;
    height: 100vh;
}
.intile {
    @extend %vertical-center;
}
//parallax
.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.parallax:nth-of-type(1) {
    background-image: url("./../images/0003.jpg");
}
.parallax:nth-of-type(2) {
    background-image: url("./../images/0013.jpg");
}
//proper tiles
.intro {
    background: $dark;
}
.about {
    background: $smoothdark;
}
.footer {
    background: $dark;
}
//video bckg
.vdbckg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    video {
        width: 100%;
    }
    #blurvid {
        filter: blur(10px);
    }
}
//sidebar
.sidebar {
    position: fixed;
    right: 30px;
    top: 0;
    height: 100vh;
    width: 20%;
}
.sidebar__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.sidebar__container {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3em;
    width: 100%;
    white-space: nowrap;
}
.sidebar__cupholder {
    display: grid;
    margin: 10px 0px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
}
.sidebar__item {
    text-align: right;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end:1;
    transition: 0.25s ease;
    padding: 0px 10px;
}
.sidebar__point {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end:1;
}
.sidebar__inpoint {
    height: 50%;
    width: 0%;
    background: $fair;
    display: block;
    float: right;
}