@import 'templates.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    color: $fair;
    font-family: 'Oswald', sans-serif;
}
* {
    box-sizing: border-box;
}
img {
    position: relative;
    max-width: 100%;
}

//overall
.tile {
    width: 100%;
    height: 100vh;
}
.intile {
    @extend %vertical-center;
}

//proper tiles
.intro {
    background: $dark;
}
.about {
    background: $smoothdark;
}

//sidebar
.sidebar {
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    height: 100vh;
    width: 15%;
}
.sidebar__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.sidebar__container {
    transform: translateY(50%);
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
}
.sidebar__list, .sidebar__pointer {
    float: left;
    height: 100%;
    border: 1px solid blue;
}
.sidebar__list {
    width: 65%;
}
.sidebar__item {
    float: left;
    width: 100%;
}
.sidebar__pointer {
    width: 35%;
}